<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>PostFilter</filter-name>
        <filter-class>filters.PostFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PostFilter</filter-name>
        <servlet-name>PostHandleServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavigationServlet</servlet-name>
        <servlet-class>servlets.NavigationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostHandleServlet</servlet-name>
        <servlet-class>servlets.PostHandleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>servlets.AccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>NavigationServlet</servlet-name>
        <url-pattern>/nav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostHandleServlet</servlet-name>
        <url-pattern>/meows</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
</web-app>
